@model Powerfront.Backend.Model.AggregateCustomerViewModel

@{
    ViewBag.Title = "Create Customer Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //this.Response.ContentType = "application/json";

    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "AggregateCustomrCreateForm");
    attributes.Add("enctype", "application/json");

    var options = new AjaxOptions();
    options.AllowCache = true;
    options.Confirm = "Confirm Update?";
    options.HttpMethod = "Post";
    //options.InsertionMode = InsertionMode.Replace;
    options.OnBegin = "onBeginSave";
    options.OnComplete = "onCompleteSave";
    options.OnFailure = "onFailureSave";
    options.OnSuccess = "onSuccessSave";
    options.UpdateTargetId = "UpdateStatus";
    options.Url = "/Maintenance/Create/";

    var routeValues = new RouteValueDictionary();
    //routeValues.Add("CustomerId", Model.CustomerId);
}

<h2>Create</h2>




@using (Ajax.BeginForm("Create", "Maintenance", options, attributes))
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        <h4>Customer Record</h4>
        <hr />

        <div class="form-group" data-bind="foreach: aggregateCustomer.CustomerDataRecords">
            <label data-bind="text: Property.Name"></label>
            <div class="col-md-10">
                <input type="text" data-bind="value: Value">
            </div>
        </div>
    </div>


    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="saveButton" value="Save Form Data" class="btn btn-default" />
            </div>
        </div>*@



}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="createJsonButton" value="Save" class="btn btn-default" />
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
    @*@Html.HiddenFor(model => model.CustomerId, htmlAttributes: new { @id = "inputModelData", value = "encodeURIComponent(JSON.stringify(" + Model.CustomerId + "))" })*@
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/pnotify")
    @Scripts.Render("~/bundles/json")
    @Scripts.Render("~/bundles/createaggregatecustomer")
    @Styles.Render("~/Scripts/PNotify")


}
