@model Powerfront.Backend.Model.AggregateCustomer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Delete</h2>*@

<h4>Are you sure you want to delete this?</h4>
<div>
    @*<h4>Customer Record</h4>*@
    <hr />
    @{
        foreach (var item in Model.CustomerDataRecords)
        {
            @Html.Raw("<div>");
            @Html.Raw("<p>" + item.Property.Name + ": " + "<em class=\"text-info\">" + item.Value + "</em></p>");
            @Html.Raw("</div>");
            }
    }
</div>



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
