@model Powerfront.Backend.Model.AggregateCustomer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer Record</h4>
    <hr />
        @{
            foreach (var item in Model.CustomerDataRecords)
            {
                @Html.Raw("<div>");
                @Html.Raw("<p>" + item.Property.Name + ": " + "<em class=\"text-info\">" + item.Value + "</em></p>");
                @Html.Raw("</div>");
            }
        }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerDataRecords[0].CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
