@model IEnumerable<Powerfront.Backend.Impact.EntityFramework.Impact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImpactName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.ImpactName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", "Impacts", null, new { @class = "btn btn-info btn-md", @id = "EditButton" })
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ImpactId })*@ @*|
            @Html.ActionLink("Details", "Details", new { id=item.ImpactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImpactId })*@
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Create New", "Create", "Impacts", null, new { @class = "btn btn-primary btn-md", @id = "ImpactsButton" })</p>
